<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="{{ relative_path }}index.html">
    <img src="../img/kvrx_logo.jpeg" width="30" height="30" class="d-inline-block align-top" alt="">
    KVRX Hot 100: The Mobile Application
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Genres
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="genres.html">Rock</a></li>
            <li><a class="dropdown-item" href="punk.html">Punk</a></li>
            <li><a class="dropdown-item" href="r&bsoul.html">R&B/Soul</a></li>
            <li><a class="dropdown-item" href="alternative.html">Alternative</a></li>
            <li><a class="dropdown-item" href="jazz.html">Jazz</a></li>
            <li><a class="dropdown-item" href="korean.html">Korean</a></li>
            <li><a class="dropdown-item" href="worldwide.html">Worldwide</a></li>
            <li><a class="dropdown-item" href="hip-hop/rap.html">Hip-Hop/Rap</a></li>
            <li><a class="dropdown-item" href="classical.html">Classical</a></li>
            <li><a class="dropdown-item" href="altfolk.html">Alternative Folk</a></li>
          </ul>
        </li>
         <div class="collapse navbar-collapse" id="navbarNavDropdown">


      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Artists
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for art in artists.artists %}
            <li><a class="dropdown-item" href="{{ relative_path }}artist/{{ art.slug}}.html">{{ art.artist }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
      <li class="nav-item">
        <a class="nav-link" href="{{ relative_path }}about.html">About</a>
      </li>
    </ul>
  </div>
</nav>
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-960a35f6-fb0f-41dd-8e2e-4508fb24cd0f"></div>
  </div>
</nav>