{% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}

<div class="container" >
    <h1>About</h1>
    <p>This is a project in conjunction with the Digital Innovations Capstone, bringing KVRX DJs new music from underground artists. There are navigable artist pages on the artist dropdown menu at your disposal to search through. A filtering system is available on the Song Generator tab for users to search through.</p>
    <p>Happy listening!</p>
</div>






{% endblock %}