{% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}

 <div class="team-grid">
     <div class="container">
         <div class="intro">
             <h2 class="text-center">Meet Our Team</h2>
             <p class="text-center">Meet the women at the University of Texas at Austin who bring you the KVRX Hot 100!</p>
         </div>
         <div class="row people d-flex justify-content-center">
             <div class="col-md-4 col-lg-3 item">
                 <div class="box" style="background-image:url(../img/lainie.jpeg)">
                     <div class="cover">
                         <h3 class="name">Lainie Dickey</h3>
                         <p class="title">Web Developer</p>
                     </div>
                 </div>
             </div>
             <div class="col-md-4 col-lg-3 item">
                 <div class="box" style="background-image:url(../img/madisonnosek.jpeg)">
                     <div class="cover">
                         <h3 class="name">Madison Nosek</h3>
                         <p class="title">Marketing Researcher</p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>

 <div class="container text-white" >
    <h1>About Us</h1>
    <p>This is a project in conjunction with the Digital Innovations Capstone, bringing KVRX DJs new music from underground artists. Browse through the website to find new genres, artists, and songs to obsess over with your audience.</p>
    <p>Happy listening!</p>
</div>




{% endblock %}