{% extends '_templates/datatable.njk' %}

{% set relative_path = "../" %}

{% block page_title %}Artists{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}

<div class="container text-white">
<h1>Artists Starting with "D"</h1>
<p>Find your new favorite artist below!</p>
<table class="table table-hover table-sm table-dark" id="songs">
  <thead>
    <tr class="table-active">
      <th scope="col">Explicit</th>
      <th scope="col">Song</th>
      <th scope="col">Artist</th>
      <th scope="col">Genre</th>
      <th scope="col">Texan</th>
    </tr>
  </thead>
  <tbody>
      {% for item2 in d_songs.d_songs %}
    <tr>
        <td>
            {{ item2.explicit }}
        </td>
        <td>
            {{ item2.song }}
        </td>
        <td>
            <a href="{{ relative_path }}artist/{{ item2.slug }}.html">{{ item2.artist }}</a>
        </td>
        <td>
            {{ item2.genre }}
        </td>
        <td>
            {{ item2.texan }}
        </td>
    </tr>
    {% endfor %}
    
   
  </tbody>
</table>
</div>

<script>
    $(document).ready(function() {
        $('#songs').DataTable();
    } );
</script>

{% endblock %}