{% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}

<head>
<script type="text/javascript" src="data/index.js"></script>
</head>

<figure class="text-center">
  <blockquote class="blockquote">
    <p>All of the hits, none of the time.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    KVRX <cite title="Source Title">91.7FM</cite>
  </figcaption>
</figure>

<div class="bg-dark py-5 service-15">
    <div class="container">
        <!-- Row  -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <div class="d-flex">
                            <div class="no-shrink"><span class="icon-round bg-warning text-success rounded-circle text-center d-inline-block">G</span></div>
                            <div class="p-3">
                                <h6 class="font-weight-medium"><a href="../genre/rock.html" class="linking">Covering an Array of Genres</a></h6>
                                <p class="mt-3">We have a number of genres to choose from, with artists that fall into each corresponding genre to try out.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-4">
                        <div class="d-flex">
                            <div class="no-shrink"><span class="icon-round bg-warning text-success rounded-circle text-center d-inline-block">A</span></div>
                            <div class="p-3">
                                <h6 class="font-weight-medium"><a href="../aartist.html" class="linking">Numerous Artists to Choose From</a></h6>
                                <p class="mt-3">You can use the searchable artists table to find new artists to listen to.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-4">
                        <div class="d-flex">
                            <div class="no-shrink"><span class="icon-round bg-warning text-success rounded-circle text-center d-inline-block">S</span></div>
                            <div class="p-3">
                                <h6 class="font-weight-medium"><a href="../songs.html" class="linking">Playable Songs On-Air</a></h6>
                                <p class="mt-3">You can browse the searchable non-blacklisted songs to find FCC-compliant songs to play on your next radio show!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-lg-6">
                <img src="img/kvrx_index3.jpg" class="img-fluid" alt="wrapkit" />
            </div>
            <!-- Column -->
						<div class="col-md-12 mt-3 text-center">
                <a class="btn btn-success-gradiant btn-md border-0 text-white" href="../about.html"><span>About Us</span></a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="text-center">Featured Artists</h2>
</div>

<div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card">
                <div class="img-wrapper"><a href="artist/anxious.html"><img src="img/anxious.jpeg" class="d-block w-100" alt="..."></a></div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><a href="artist/aawilliams.html"><img src="img/aawilliams.jpeg" class="d-block w-100" alt="..."></a></div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><a href="artist/13thfloorelevators.html"><img src="img/13thfloorelevators.jpeg" class="d-block w-100" alt="..."></a></div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><a href="artist/45adapters.html"><img src="img/45adapters.jpeg" class="d-block w-100" alt="..."></a></div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><a href="artist/adoy.html"><img src="img/adoy.jpeg" class="d-block w-100" alt="..."></a></div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><a href="artist/badwaitress.html"><img src="img/bw.jpeg" class="d-block w-100" alt="..."></a></div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><a href="artist/bluecactus.html"><img src="img/bc.jpeg" class="d-block w-100" alt="..."></a></div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><a href="artist/bluntbangs.html"><img src="img/bb.jpeg" class="d-block w-100" alt="..."></a></div>
            </div>
        </div>

    
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


{% endblock %}