{% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}



  <div class="row">
    {% for song in songs.songs %}
      <div class="col">
        <img src="img/{{ song.image }}.jpeg" alt="" class="img-fluid">
        <h3><a href="songs/{{ song.artist }}.html">{{ song.song }}</a></h3>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}