{% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}

<head>
<script type="text/javascript" src="data/index.js"></script>
</head>

<figure class="text-center">
  <blockquote class="blockquote">
    <p>All of the hits, none of the time.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    KVRX <cite title="Source Title">91.7FM</cite>
  </figcaption>
</figure>
<div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card">
                <div class="img-wrapper"><a href="artist/anxious.html"><img src="img/anxious.jpeg" class="d-block w-100" alt="..."></a></div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><a href="artist/aawilliams.html"><img src="img/aawilliams.jpeg" class="d-block w-100" alt="..."></a></div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><a href="artist/13thfloorelevators.html"><img src="img/13thfloorelevators.jpeg" class="d-block w-100" alt="..."></a></div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><a href="artist/45adapters.html"><img src="img/45adapters.jpeg" class="d-block w-100" alt="..."></a></div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><a href="artist/adoy.html"><img src="img/adoy.jpeg" class="d-block w-100" alt="..."></a></div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><a href="artist/badwaitress.html"><img src="img/bw.jpeg" class="d-block w-100" alt="..."></a></div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><a href="artist/bluecactus.html"><img src="img/bc.jpeg" class="d-block w-100" alt="..."></a></div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><a href="artist/bluntbangs.html"><img src="img/bb.jpeg" class="d-block w-100" alt="..."></a></div>
            </div>
        </div>

    
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

 <div class="team-grid">
     <div class="container">
         <div class="intro">
             <h2 class="text-center">Meet Our Team</h2>
             <p class="text-center">Meet the women at the University of Texas at Austin who bring you the KVRX Hot 100!</p>
         </div>
         <div class="row people d-flex justify-content-center">
             <div class="col-md-4 col-lg-3 item">
                 <div class="box" style="background-image:url(../img/lainie.jpeg)">
                     <div class="cover">
                         <h3 class="name">Lainie Dickey</h3>
                         <p class="title">Web Developer</p>
                     </div>
                 </div>
             </div>
             <div class="col-md-4 col-lg-3 item">
                 <div class="box" style="background-image:url(../img/madisonnosek.jpeg)">
                     <div class="cover">
                         <h3 class="name">Madison Nosek</h3>
                         <p class="title">Marketing Researcher</p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>


{% endblock %}