{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}Genres{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}



  <article class="container text-center text-white">
    <h1>{{ genre }}</h1>
  </article>

<div class="container">
<div class="timeline">
{% for item in artists.artists %}
  {% if item.genre == genre %}
		<div class="timeline-row">
			<div class="timeline-content">
				<i class="icon-attachment"></i>
				<h4>{{ item.artist }}</h4>
				<p>{{ item.about}}</p>
				<div class="">
					<span class="badge badge-pill">
            <a href="{{ relative_path }}artist/{{ item.slug }}.html">Check them out here!</a><br>
          </span>
				</div>
			</div>
		</div>
  {% endif %}
{% endfor %}
</div>
</div>

{% endblock %}